apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cosy-backend
spec:
  rules:
    - host: DOMAIN_PLACEHOLDER
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: cosy-backend
                port:
                  number: 80
